<div class="container">
    @if (loan.id) {
        <h1>Modificar préstamo</h1>
    } @else {
        <h1>Crear préstamo</h1>
    }

    <form>
        <mat-form-field>
            <mat-label>Juego</mat-label>
            <mat-select disableRipple [(ngModel)]="loan.game" name="game" required>
                @for (game of games; track game.id) {
                    <mat-option [value]="game">{{game.title}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <mat-select disableRipple [(ngModel)]="loan.client" name="client" required>
                @for (client of clients; track client.id) {
                    <mat-option [value]="client">{{client.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <div class="dates-container">
            <mat-form-field>
                <mat-label>Fecha de inicio</mat-label>
                <input matInput [matDatepicker]="pickerStart" [(ngModel)]="loan.startDate" name="startDate" required>
                <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Fecha de fin</mat-label>
                <input matInput [matDatepicker]="pickerEnd" [(ngModel)]="loan.endDate" name="endDate" required>
                <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
        </div>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>